<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <% include ../partials/head %>
</head>
<body class = "container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class = "jumbotron" >
            <h1>
                This is awesome
            </h1>
            <p>
                Using EJS
            </p>
        </div>
        <h2>Variable</h2>
        <p><%= tagline%></p>
        <h2>Loop</h2>
        <ul>
            <% posts.forEach(function(post){ %>
            <li><%=post.title%> <br>
                By -<%=post.author%> <br>
                <%=post.description%>
            </li>
            <% });%>
        </ul>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>